include .VERSION
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENCE
include README.md
include requirements.txt
include USAGE.rst
include footylib/.VERSION
recursive-include requirements *.txt


recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *md *.rst conf.py Makefile
